style.css
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
}


.cabecalho{
    background: rgb(255, 251, 0);
    color: rgb(9, 89, 207);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.imagem-cabecalho{
    width: 20%;
}

.cabecalho-item{
    display: inline-block;
    margin: 0  16px;
    font-size: 24px ;

}


.selecao-imagem{
    width: 320px;
    height: 313px;
}
.selecao{
    background-image: linear-gradient(rgb(255, 251, 0), rgba(11, 99, 231, 0));
    color:rgb(36, 34, 34);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.conteudo{
    width: 35%
}

.selecao-titulo{
    padding: 24px;
}